<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Wise</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <nav> 
        <div class="nav-container">
            <div class="left roboto-condensed-HFont">
                <a href="#">Weather Wise</a>
            </div>
            <div class="tabs" id="navLinks">
                <ul class="container roboto-condensed-HFont" type="none">
                    <li><a href="#"><img src="/images/home-svgrepo-com.svg">Home</a></li>
                    <li><a href="#"><img src="/images/information-circle-solid-svgrepo-com.svg"> About</a></li>
                    <li><a href="#"><img src="/images/discussion-svgrepo-com.svg">Forum</a></li>
                </ul>
            </div>
            <div class="hamburger" id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>

    <div class="grid-container">
        <% if (temperature) { %>
            <div class="temperature"><%= temperature %>°C</div>
            <div class="city"><%= cityName %></div>
            <div class="feels-temp"><div class="digit"><%= feelsLike %>°C</div> <p>Feels like</p></div>
            <div class="humidity"><div class="digit"><%= humidity %>%</div> <p>Humidity</p></div>
            <div class="wind-speed"><div class="digit"><%= windSpeed %> m/s</div> <p>Wind-speed</p></div>
            <div class="sunset-sunrise">
                <p><img src="/images/sunrise-svgrepo-com.svg"> Sunrise Time - <%= sunriseTime %></p> 
                <p><img src="/images/sunset-svgrepo-com.svg"> Sunset Time - <%= sunsetTime %></p>
            </div>
            <div class="max-temp"><div class="digit"><%= maxTemp %>°C</div> <p>Maximum Temperature today</p></div>
            <div class="description"><p>Weather: <%= description %></p></div>
        <% } else { %>
            <p>Weather data unavailable. Please try again.</p>
        <% } %>
    </div>
</body>
</html>
